article {
    display: flex;
    flex-direction: column;
}

article > section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: #e6ecf1;
   
    height: 90%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    border-radius: 20%;
}

.informatic {
    background-color: #ffffff;

    height: 90%;
    width: 60%;
 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    border-radius: 20%;
    padding: 0 2%;
}

#intro {
    height: 65vh;
    background: linear-gradient(to right, #9563A477, #4298B455, #33A47477, #D8A53777);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#introText {
    text-align: center;
    position: relative;
    top: 10%;
}

#introText > h1 {
    font-size: 4rem;
}


#about {
    background-color: #f4f7f9;
}
 
/* #about > .title {
    
}*/

#faq {
    background-color: #f4f7f9;

    flex-flow: row-reverse;
}

#video {
    background-color: #f4f7f9;
}
