article {
    display: flex;
    flex-direction: column;
}

article > section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    background-color: var(--primary);
 
    height: 90%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;

    border-radius: 50px;
}

.informatic {
    background-color: var(--secondary);

    opacity: 0.9;

    height: 90%;
    width: 60%;
 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;

    border-radius: 50px;
    padding: 0 2%;
}

#intro-bg {
    position: absolute;

    height: 65vh;
    width: 100%;

    top: var(--headerH);
    left: 0;

    background-color: #fff7;
    z-index: -1;
}


#intro {
    height: 65vh;
    background: linear-gradient(to right, #9563A477, #4298B455, #33A47477, #D8A53777);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#introText {
    text-align: center;
    position: relative;
    top: 10%;
}

#introText > h1 {
    font-size: 4rem;
}


#about, #faq, #video {
    background-color: var(--background);
}
 

#faq {
    flex-flow: row-reverse;
}
