article {
    height: calc(100vh - 80px); /* calc so that it doesn't overflow under because of the header*/

    display: flex;
    justify-content: center;
}

#menu {
    background-color: pink;
    width: 25vw;

    padding-top: 2vh;
}

#contents {
    background-color: red;
    width: 75vw;
    padding-top: 2vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    flex-direction: column;
    gap: 1%;
}

.results {
    width: 97.5%;
    height: 500px;

    background-color: white;
    border-radius: 20px;

    text-align: center;
    text-decoration: none;
}


#key {
    width: 75%;
}
