#background-fade {
    position: absolute;
    top: calc(0% + var(--headerH));
    left: 0;
    z-index: -1;

    width: 100%;
    height: 150vh;

    pointer-events: none;
}


#result {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40vh;
    width: 100%;

}

#MBTI {
    font-size: 3rem;
    text-align: center;
}

#informatics {
    padding: 5vh 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: hotpink; */
}

#info-board {
    width: 80%;
    height: 100%;

    border-radius: 3rem;

    padding: 2% 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10vh;

    background-color: #7777;
}

#info-board > section {
    /* background-color: #fa6be577; */

    border-radius: 2rem;

    height: 20vh;
    width: 95%;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.bar-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dichotomies {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: underline;

    color: black;
}

.legendL, .legendR {
    width: 10%;

    text-align: center;
    font-size: 1.5rem;

    color: black;
}

.legendL {
    transform: translate(25%, -150%) ;
}

.legendR {
    transform: translate(-25%, -150%);
}

.progress-bar {
    width: 80%;
    height: 5vh;

    border-radius: 0.75rem;
    background-color: lightgrey;

    transform: skewX(-45deg);

    color: #000;
}


.value-bar {
    height: 100%;

    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 100%;
    color: black;

}

.explaination {
    text-align: center;
    font-size: 1.25rem;

    color: #000;
}
