/* define variables */
:root {
    /* Light Mode */
    /* --text: #030c2b; */
    /* --background: #e2e7fd; */
    --primary: #718df4;
    --secondary: #5f23ff;
    /* /* --secondary: #c96cf4; */
    --accent: #c210cb;
    /* --highlights: #aaa; */

    --background: #f4f7f9;
    --text: #2e2e2e;

    --headerH: 80px; /* header height */
}

.dark-mode {
    --text: #1d4ddf;
    --background: #02071d;
    --primary: #3c66ff;
    --primary-darker: #5367b9;
    --secondary: #680b93;
    --accent: #e534ef;
}

@font-face {
    font-family: "comic-neue";
    src: url("/fonts/Comic_Neue/ComicNeue-Regular.ttf");
}

html {
    overscroll-behavior-y: none; /* dont allow overscrolling vertically*/
    background-color: var(--background);
}

* {
    margin: 0;
    font-family: "comic-neue";

    color: var(--text);
}

#pad {
    height: var(--headerH);
}

#blue-light-screen {
    height: 100vh;
    width: 100vw;

    background-color: #ff6900;
    opacity: 0;

    position: fixed;
    z-index: 9999;

    pointer-events: none;


}

header {
    background-color: var(--primary);
    display: flex;

    width: 100%;
    height: var(--headerH);

    position: fixed;
    z-index: 999; /* makes that header is always on top*/
}

header > nav {
    display: flex;
}

header ul {
    padding: 0;
}



#navi {
    /* background-color: ; */
    width: 60vw;
}


#logo {
    display: flex;
 
    justify-content: center;
    align-items: center;

    width: 5rem;
    margin: 2%;
}


#navList {
    list-style-type: none;

    display: flex;

    align-items: center;
    font-size: 1.25vw;

    /* background-color: ; */

    height: 100%;
}

#navList > li {
    display: block;
    /* background-color: ; */

    height: 100%;
    font-weight: bold;
}

#navList > li > a {
    /* background-color: ; */
    text-decoration: none;
    color: black;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    height: 100%;

    font-size: 1.25rem;
    white-space:nowrap;

    transition: all 0.2s ease-in-out;
}

#navList > li > a:hover {
    text-decoration: underline;
    font-size: 1.5rem;
}


#access {
    /* background-color: ; */
    width: 40%;

    justify-content: flex-end;
    align-items: flex-end;

    position: relative;
    bottom: 10%;
    right: 1%;
}

#accessList {
    list-style-type: none;
    /* background-color: var(--primary-darker); */
    background-color: var(--secondary);
    border-radius: 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 50%;
    height: 50%;
}

#accessList > li {
    height: 100%;
}

.icons {
    display: flex;
    align-items: center;
    height: 100%;

}

.icons > img:hover {
    height: 150%;
}

.icons > img {
    aspect-ratio: 1/1;
    width: auto;
    height: 90%;

    padding: 10%;

    transition: all 0.2s ease-in-out;
}

button.icons {
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#access-panel {
    width : 20vw;
    height: 20vh;

    position: fixed;

    top: calc(1% + var(--headerH));
    right: 1%;

    background-color: var(--secondary);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: opacity 0.1s ease-in-out;
}

#access-panel > * {
    width: 100%;
    height: 30%;
}

#access-panel button {
    cursor: pointer;
}


#text-size {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    font-size: 2vw;
}

#text-size > button {
    width: 1.5vw;
    font-size: 1.5vw;

    background-color: var(--accent);
    border: 3px solid color-mix(in srgb, var(--accent), black 20%); /* mix the accent color with a little bit of darknest */
    border-radius: 5px;
}

#text-scale {
    font-size: 1.25vw;
}

#blue-light {
    display: flex;
    justify-content: center;
    align-items: center;

}
#blue-light > button {
    font-size: 1.25vw;
 
    background-color: var(--accent);
    border: 3px solid color-mix(in srgb, var(--accent), black 20%); /* mix the accent color with a little bit of darknest */
    border-radius: 20px;
}
